<section class="page"><div class="centered-box">
  <h1>Edit My Cat</h1>
  <%= render 'shared/errors' %>
  <%= render 'form', cat: @cat %>

  <% content_for :footer do %>
  Switch up your cat, as long as it isn't a dog! ;)
  <% end %>
</div></section>
