
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  </head>
  <body>
    <h1>Visit 99Cats.com, <%= @user.username %></h1>, we got friends waiting for you!
    <p>
      You signed up to 99Cats.com, and your username is: <%= @user.username %>.<br/>
    </p>
    <p>
      Follow this link: <%= @url %> to sign up when you're ready!
    </p>
    <p>Take care future new friend!</p>
  </body>
